<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../src/angular-pickadate.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8">
    <style type="text/css">
      .container {
        width: 300px;
        margin: auto;
      }
      .selected-date {
        padding: 10px;
        text-align: center;
      }
      input.date{
        display: block;
        width: 300px;
        margin: 10px auto;
      }
      *{
        padding: 0; margin: 0;
      }
    </style>
  </head>
  <body ng-app="testApp" id="ng-app" ng-controller="TestController">
    <input type="date" class="date" ng-model="date" min-date="'2014-01-01'" max-date="'2014-04-01'" disabled-dates="['2014-02-09']">
    Selected date is {{date || '(no date selected)'}}

    <input type="date" class="date" ng-model="date2">

    <script src="../src/angular.min.js"></script>
    <script src="../src/angular-pickadate.js"></script>

    <script>
      angular.module('testApp', ['ng.pickadate']);

      function TestController($scope, dateFilter) {
        $scope.date = '2014-02-03';
        $scope.date2 = dateFilter(new Date(), 'yyyy-MM-dd');
      }
    </script>
  </body>
</html>
